/*================================================================
{{ thorvarium | vine-styling | desktop | categories-with-emojis }}
================================================================*/

/* emoji list: https://html-css-js.com/html/character-codes/ */

.a-link-normal[href$="3167641"]:before { content: "🏠";}  /* Home & Kitchen */
.a-link-normal[href$="11961464031"]:before { content: "👚";} /* Clothing, Shoes & Jewelry */
.a-link-normal[href$="80084031"]:before { content: "🔨";} /* Tools & Home Improvement */
.a-link-normal[href$="12950651"]:before { content: "🎲"; } /* Toys & Games */
.a-link-normal[href$="562066"]:before { content: "💻"; } /* Electronics */
.a-link-normal[href$="340843031"]:before { content: "💻"; } /* Computer */
.a-link-normal[href$="3760901"]:before { content: "👨‍⚕️"; } /* Health & Household */
.a-link-normal[href$="16435051"]:before { content: "⚾"; } /* Sports & Outdoors */
.a-link-normal[href$="10925031"]:before { content: "🌳"; } /* Patio, Lawn & Garden */
.a-link-normal[href$="192416031"]:before { content: "📁"; }  /* Office Products */ 
.a-link-normal[href$="340852031"]:before { content: "🐈"; } /* Pet Supplies */
.a-link-normal[href$="2335752011"]:before { content: "📱"; } /* Cell Phones & Accessories */ 
.a-link-normal[href$="64187031"]:before { content: "💄"; } /* Beauty & Personal Care */
.a-link-normal[href$="84230031"]:before { content: "💄"; } /* Kosmetik */
.a-link-normal[href$="78191031"]:before { content: "🚐"; } /* Automotive */
.a-link-normal[href$="2617941011"]:before { content: "🎨"; } /* Arts, Crafts & Sewing */
.a-link-normal[href$="355007011"]:before { content: "👶"; } /* Baby Products */
.a-link-normal[href$="5866098031"]:before { content: "🔬"; } /* Industrial & Scientific */
.a-link-normal[href$="340849031"]:before { content: "🎹"; } /* Musical Instruments */
.a-link-normal[href$="300992"]:before { content: "🎮"; } /* Video Games */
.a-link-normal[href$="340846031"]:before { content: "🍎"; } /* Grocery & Gourmet Food */
.a-link-normal[href$="11260432011"]:before { content: "🧤"; } /* Handmade Products */
.a-link-normal[href$="908823031"]:before { content: "📻"; } /* Appliances */
.a-link-normal[href$="283155"]:before { content: "📘"; } /* Books */
.a-link-normal[href$="229534"]:before { content: "💽"; } /* Software */
.a-link-normal[href$="2625373011"]:before { content: "🎥"; } /* Movies & TV */
.a-link-normal[href$="5174"]:before { content: "💿"; } /* CDs & Vinyl */
.a-link-normal[href$="4991425011"]:before { content: "🖼️"; } /* Collectables & Fine Art */

#vvp-browse-nodes-container {
    width: 270px !important;
}

#vvp-browse-nodes-container .parent-node {
    width: 250px !important;
}

#vvp-browse-nodes-container .child-node {
  margin-left: 38px !important;
  width: 207px !important;
}
